.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100vh;
  background-color: #292D30;
  overflow: hidden;
  color: #fff;
  padding: 0 2rem;
  border-radius: 1rem;
}
.stash{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.stash-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.stash-header-active-button{
  background-color: #479BF0 !important;
}

.stash-header-button{
  background-color: #202428;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: #fff;
  cursor: pointer;
}

.stash-card{
  margin: 0 2rem;
  background-color: #202428;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
}

.stash-details{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7rem;
}
